<html>
<body>
<h1>CORE CLOUD</h1>

<ol>
<form action="{{ url_for('showBooks')}}" method="post">
        <label for="name">Item:</label>
       <input type="text" maxlength="100" name="name" placeholder="Name of item">
       <button type="submit">Create</button>
</form>
</ol>

<ol>
    <table border="1" width="400">
        <tr>
            <th>URL </th>
        </tr>
        {% for book in books %}
            {% if ".com" in book.title %}
                <tr height="50" width="1800">
                    <td width="800" style = " border-style: solid;     font-size: 1em;     text-align: left; color:yellowgreen;">  {{ book.title }}  </td>
                    <td width="800" style = " border-style: solid;">
                        <form action="{{url_for('editBook', book_id = book.id )}}"> <button>Edit</button></form>
                    </td>
                    <td style = "  border-style: solid">
                        <form action="{{url_for('deleteBook', book_id = book.id )}}"> <button>Delete</button></form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</ol>

<ol>
    <table border="1" width="400">
        <tr>
            <th>Item</th>
            <th>Position</th>
            <th>Status</th>
        </tr>
        {% for book in books %}
            {% if ".com" in book.title %}{% else %}
                <tr height="50" width="1800">
                    <td width="800" style = " border-style: solid;     font-size: 1em;     text-align: left; color:yellowgreen;">  {{ book.title }}  </td>
                    <td width="800" style = " border-style: solid;     font-size: 1em;     text-align: left; color:red; ">  {{ book.author}}  </td>
                    <td width="800" style = " border-style: solid;     font-size: 1em;     text-align: left; color:green; ">  {{ book.genre }}  </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</ol>
</body>
</html>